.card {
  display:inline-block;
  align-items: center;
}
.table {
  border:10px solid black;
  width:200px;
  height:200px;
}

.tra:nth-child(2n){
  background:black;
 
}
.tra:nth-child(2n+1){
  background:white;
  
}
.trap:nth-child(2n) {
  background: white;
 
}
.trap:nth-child(2n+1) {
  background: black;
 
} 
